body {
  background-color: #0a4481;
  color: #ffffff;
}

h1 {
  color: #7a1414;
  font-weight: bold;
  padding-bottom: 10px;
}

.container,
.row,
.carousel-inner {
  background-color: #a8893a;
  border-radius: 5px;
}

.image-container {
  height: 300px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

#result {
  font-weight: bold;
}

footer {
  background-color: #a8893a;
}

.nav-link {
  color: #ffffff !important;
}