body {
  background-color: #343a40; /* Dark background color */
  color: #ffffff; /* Light text color */
  border-radius: 10px;
}

.carousel-inner,
.container,
.row {
  background-color: #454d55; /* Darker background color for these elements */
  border-radius: 10px; /* Optional: Add border-radius for rounded corners */
}

#result {
  font-weight: bold;
}

/* Footer styling */
footer {
  background-color: #454d55; /* Darker background color for the footer */
  border-radius: 10px; /* Optional: Add border-radius for rounded corners */
}

/* Navigation links in the footer */
.nav-link {
  color: #ffffff !important; /* Override Bootstrap's default link color */
}