body {
  background-color: #dcdcfc;
  color: #ffffff;
}

h1 {
  color: #db4242;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 15px;
  text-align: center;
  text-decoration: underline;
}

p {
  line-height: 1.6;
}

.container,
.row,
.carousel-inner {
  background-color: #2a3441;
  border-radius: 10px;
}

.image-container {
  height: 300px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

#result {
  font-weight: bold;
  line-height: 1.6;
  text-align: center;
}

.photos-container {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.place-photo {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

footer {
  background-color: #2a3441;
}

.nav-link {
  color: #ffffff !important;
}